# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sigma_db
DB_USER=sigma_user
DB_PASSWORD=changethis       # openssl rand -base64 32

# Aplicação
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Auth JWT
SECRET_KEY=changethis         # openssl rand -base64 64
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENABLE_AUTH=True

# CORS
CORS_ORIGINS=["http://localhost","http://localhost:80","http://localhost:5173"]

# GIS
GEOJSON_PATH=data/uso_ocupacao_teste.geojson

# FRONTEND
VITE_API_URL=http://localhost:8000
