# Banco de dados
DB_HOST=db
DB_PORT=5432
DB_NAME=sigma_db
DB_USER=sigma_user
DB_PASSWORD=__DB_PASSWORD__

# Auth JWT
SECRET_KEY=__SECRET_KEY__
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENABLE_AUTH=True

# CORS
CORS_ORIGINS=["http://localhost","http://localhost:5173"]

# GIS
GEOJSON_PATH=data/uso_ocupacao_teste.geojson

# Frontend
VITE_API_URL=http://localhost:8000
